:host {
  &.selected {
    outline: 2px #000 solid;
  }
}

img {
  position: absolute;
  height: 80%;
  width: 80%;
  inset: 0;
  margin: auto;

  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
