# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
web/dist
web/tmp
web/out-tsc
web/bazel-out

# Node
web/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
web/.idea/
web/.project
web/.classpath
web/.c9/
web/*.launch
web/.settings/
web/*.sublime-workspace

# Visual Studio Code
web/.vscode/*
web/!.vscode/settings.json
web/!.vscode/tasks.json
web/!.vscode/launch.json
web/!.vscode/extensions.json
web/.history/*

# Miscellaneous
web/.angular/cache
.web/sass-cache/
/web/connect.lock
/web/coverage
/web/libpeerconnection.log
testem.log
/web/typings

# System files
.DS_Store
Thumbs.db

*.swp
*.*~
project.lock.json
*.pyc
nupkg/

# Visual Studio Code
.vscode/*
!.vscode/settings.json

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
