<div class="interface-container left-interface-container">
</div>
<div class="pitch-container">
  <app-pitch
    [pitchState]="pitchState"
    (clickOnPlayer)="onClickedOnPlayer($event)"
    (clickOnAvailableMove)="onClickAvailableMove($event)"
    (dblClickOnAvailableMove)="onDblClickAvailableMove($event)"
    (contextmenu)="onRightClick($event)"
  ></app-pitch>
</div>
<div class="interface-container right-interface-container">
  <app-scoreboard></app-scoreboard>
  <app-action-log></app-action-log>
  <app-chat-log></app-chat-log>
</div>
