:host {
  --square-height: calc(100% / 26);
  --square-width: calc(100% / 15);

  display: block;
  height: calc(100% - 4px);
  width: fit-content;

  border-color: white;
  border-width: 2px;
  border-style: solid;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pitch {
  position: relative;
  display: block;

  width: auto;
  height: 100%;

  aspect-ratio: 15 / 26;

  background-image: url("/assets/images/blood-bowl-pitch.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

app-player-icon {
  display: block;
  height: 100%;
  width: 100%;
}

.app-odds-container {
  position: absolute;
  left: calc(100% - 10px);
  top: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.pitchSquare {
  display: block;
  position: absolute;
  height: var(--square-height);
  width: var(--square-width);
}

.pitchSquare p {
  line-height: var(--square-height);
  color: black;
  text-align: center;
}

.col-0 {
  left: calc(0 * var(--square-width));
}

.col-1 {
  left: calc(1 * var(--square-width));
}

.col-2 {
  left: calc(2 * var(--square-width));
}

.col-3 {
  left: calc(3 * var(--square-width));
}

.col-4 {
  left: calc(4 * var(--square-width));
}

.col-5 {
  left: calc(5 * var(--square-width));
}

.col-6 {
  left: calc(6 * var(--square-width));
}

.col-7 {
  left: calc(7 * var(--square-width));
}

.col-8 {
  left: calc(8 * var(--square-width));
}

.col-9 {
  left: calc(9 * var(--square-width));
}

.col-10 {
  left: calc(10 * var(--square-width));
}

.col-11 {
  left: calc(11 * var(--square-width));
}

.col-12 {
  left: calc(12 * var(--square-width));
}

.col-13 {
  left: calc(13 * var(--square-width));
}

.col-14 {
  left: calc(14 * var(--square-width));
}

.row-0 {
  top: calc(0 * var(--square-height));
}

.row-1 {
  top: calc(1 * var(--square-height));
}

.row-2 {
  top: calc(2 * var(--square-height));
}

.row-3 {
  top: calc(3 * var(--square-height));
}

.row-4 {
  top: calc(4 * var(--square-height));
}

.row-5 {
  top: calc(5 * var(--square-height));
}

.row-6 {
  top: calc(6 * var(--square-height));
}

.row-7 {
  top: calc(7 * var(--square-height));
}

.row-8 {
  top: calc(8 * var(--square-height));
}

.row-9 {
  top: calc(9 * var(--square-height));
}

.row-10 {
  top: calc(10 * var(--square-height));
}

.row-11 {
  top: calc(11 * var(--square-height));
}

.row-12 {
  top: calc(12 * var(--square-height));
}

.row-13 {
  top: calc(13 * var(--square-height));
}

.row-14 {
  top: calc(14 * var(--square-height));
}

.row-15 {
  top: calc(15 * var(--square-height));
}

.row-16 {
  top: calc(16 * var(--square-height));
}

.row-17 {
  top: calc(17 * var(--square-height));
}

.row-18 {
  top: calc(18 * var(--square-height));
}

.row-19 {
  top: calc(19 * var(--square-height));
}

.row-20 {
  top: calc(20 * var(--square-height));
}

.row-21 {
  top: calc(21 * var(--square-height));
}

.row-22 {
  top: calc(22 * var(--square-height));
}

.row-23 {
  top: calc(23 * var(--square-height));
}

.row-24 {
  top: calc(24 * var(--square-height));
}

.row-25 {
  top: calc(25 * var(--square-height));
}
