<div class="pitch">
  @for(pitchSquare of pitchSquares; track $index) {
    <div
      class="pitchSquare row-{{pitchSquare.row}} col-{{pitchSquare.col}}"
      [class.highlighted]="pitchSquare.highlighted"
      [class.availableMove]="pitchSquare.availableMove"
      [class.displayedMove]="pitchSquare.displayedMove"
      [class.rush]="pitchSquare.rush"
      (mousedown)="onClickOnPitchSquare(pitchSquare)"
      (dblclick)="onDblClickOnPitchSquare(pitchSquare)"
      (mouseenter)="onMouseEnterPitchSquare(pitchSquare)"
      (mouseleave)="onMouseLeavePitchSquare(pitchSquare)"
    ></div>
  }

  @for (playerPosition of players; track playerPosition.player.id) {
    <app-player-icon
      id="playerIcon-{{ playerPosition.player.id }}"
      class="row-{{ playerPosition.row }} col-{{ playerPosition.col}}"
      [class.selected]="playerPosition.player.id === selectedPlayer?.id"
      [player]="playerPosition.player"
    ></app-player-icon>
  }
</div>
