<div class="pitch">
  @for (availableMove of availableMoves; track $index) {
    <div
      class="availableMove row-{{availableMove.row}} col-{{availableMove.col}}"
      [class.rush]="availableMove.moveType === moveType.rush"
      (dblclick)="onDblClickOnAvailableMove(availableMove)"
    ></div>
  }

  @for (playerPosition of players; track playerPosition.player.id) {
    <app-player-icon
      id="playerIcon-{{ playerPosition.player.id }}"
      class="row-{{ playerPosition.row }} col-{{ playerPosition.col}}"
      [class.selected]="playerPosition.player.id === selectedPlayer?.id"
      [player]="playerPosition.player"
      (clickedOnPlayer)="onClickedOnPlayer($event)"
    ></app-player-icon>
  }
</div>
