<div class="pitch">
  @for(pitchSquare of pitchSquares; track $index) {
    <div
      class="pitchSquare row-{{pitchSquare.row}} col-{{pitchSquare.col}}"
      [class.availableMove]="pitchSquare.availableMove"
      [class.rush]="pitchSquare.rush"
      (dblclick)="onDblClickOnAvailableMove(pitchSquare)"
    ></div>
  }

  @for (playerPosition of players; track playerPosition.player.id) {
    <app-player-icon
      id="playerIcon-{{ playerPosition.player.id }}"
      class="row-{{ playerPosition.row }} col-{{ playerPosition.col}}"
      [class.selected]="playerPosition.player.id === selectedPlayer?.id"
      [player]="playerPosition.player"
      (clickedOnPlayer)="onClickedOnPlayer($event)"
    ></app-player-icon>
  }
</div>
